# .NET / C#
bin/
obj/
*.db
*.db-shm
*.db-wal
appsettings.Development.json
*.user
*.suo
.vs/
.vscode/

# Node & Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
